<div class="form-container" *ngIf="scena === 'pedidos'">
  <h1>Crear Pedido</h1>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput
      name="clienteNombre"
      [(ngModel)]="pedido.clienteNombre"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="fecha"
      [(ngModel)]="pedido.fecha"
      >
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Numero</mat-label>
    <input matInput
      type="number"
      class="example-right-align"
      placeholder="0"
      name="numeroPedido"
      [(ngModel)]="pedido.id"
    />
  </mat-form-field>



  <section>
    <div class="example-label">
      <h3>DETALLE DEL PEDIDO</h3>
    </div>
    <div class="example-button-row">
      <button mat-flat-button (click)="onAddProduct()">Agregar Productos</button>
    </div>
  </section>

  <app-pedidosdet></app-pedidosdet>

</div>

<div class="form-container" *ngIf="scena === 'add-product'">
  <app-addproducto (retrunPedido)="goPedido()"></app-addproducto>
</div>
